<div class="main-carousel">
  <carousel
    [images]="caroselImages"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [arrowsOutside]="false"
    [autoplay]="false"
    [dots]="true"
    [loop]="true"
    [height]="350"
  >
  </carousel>
</div>

<div class="second-carousel">
  <div class="container-fluid m-0">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h3>
            Amazon Original Movies
            <span class="see-more"><a href="">See more</a></span>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="movie-list">
          <carousel
            [arrowsOutside]="true"
            [autoplay]="false"
            [objectFit]="'cover'"
            [margin]="105"
          >
            <ng-container *ngFor="let movie of movies['results']">
              <div class="carousel-cell">
                <img src="{{ imgBase + movie.backdrop_path }}" />
              </div>
            </ng-container>
          </carousel>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid m-0">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h3>
            Amazon TV Shows
            <span class="see-more"><a href="">See more</a></span>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="movie-list">
          <carousel
            [arrowsOutside]="true"
            [autoplay]="false"
            [objectFit]="'cover'"
            [margin]="105"
          >
            <ng-container *ngFor="let tv of tvShows['results']">
              <div class="carousel-cell">
                <img src="{{ imgBase + tv.backdrop_path }}" />
              </div>
            </ng-container>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</div>
