.second-carousel {
  padding: 30px 60px;
  color: #fff;
  .see-more {
    font-size: 20px !important;
    a {
      text-decoration: none !important;
    }
  }
}
.carousel-cell {
  width: 300px !important;
  img:hover {
    -webkit-transform: scale(2, 2);
    -moz-transform: scale(2, 2);
    transform: scale(2, 2);
  }
}



