/* You can add global styles to this file, and also import other style files */
body {
  background-color: #212529 !important;
}

.carousel-arrow-prev {
  display: none;
}

.carousel-arrow {
  filter: brightness(0) invert(1);
  background-color: transparent !important;
  box-shadow: none !important;
}
