.navbar {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.user {
  padding-left: 20px;
  i {
    color: #ced4da;
    font-size: 24px;
  }
}
form {
  .form-control,
  .input-group-text {
    background-color: #212529;
    color: #ced4da !important;
  }
  .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
  }
  .form-control {
    border-left: none !important;
    padding: 0 !important;
  }
}
