<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
  <div class="container-fluid m-0">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo/logo1.png" alt="" srcset="" width="130" />
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/tv-shows']"
            routerLinkActive="active"
            >TV Shows</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/movies']"
            routerLinkActive="active"
            >Movies</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping"
            ><i class="fa fa-search"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="addon-wrapping"
          />
        </div>
      </form>
      <div class="user">
        <i class="fal fa-user"></i>
      </div>
    </div>
  </div>
</nav>
